* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.logo {
	width: 20%;
	margin: 0 auto;
	padding: 64px 0;
	display: block;
}

div.left-panel {
	background-color: teal;
	height: 100vh;
	width: 20vw;
}

div.left-panel div {
	background: #fff;
	height: 48px;
	padding: 8px 0;
	border: none;
	box-shadow: 0 0 2px 0 #000;
	margin: 0 auto;
	border-radius: 50px;
	width: 90%;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

div.left-panel div form input {
	border: none;
	flex-grow: 2;
	margin: 0 0 0 16px;
	height: 100%;
	border-radius: 50px;
}

div.left-panel div form button {
	border: none;
	background-color: transparent;
}

div.left-panel div form button span {
	margin: 4px 8px;
}

#map {
	height: 100vh;
	width: 80vw;
	position: fixed;
	right: 0;
	top: 0;
}
